html
    head
        title Michael Pugina - Resume
        link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    body
        include mixins.pug
        +resume(contact, experience, education)